@import 'config.scss';

html,
body {
  overflow-x: hidden;
  font-family: $primary-font;
  background-color: $secondary-color;
  width: 100%;

  .modal-open {
    width: 100% !important;
    padding-right: 0 !important;
    //overflow: hidden !important;
  }
}

#section {
  &-1 {
    background-color: $primary-color;
    color: $secondary-font-color;
    span {
      font-size: 1.2rem;
    }
  }

  &-2,
  &-3,
  &-4 {
    background-color: $secondary-color;
  }

  &-5 {
    background-color: $primary-color;
    color: $secondary-font-color;
    height: 85vh;
    height: calc(var(--vh, 1vh) * 85);
    opacity: 0;

    @include for-md-only {
      height: 90vh;
      height: calc(var(--vh, 1vh) * 90);
    }

    hr {
      border-color: $secondary-color;
    }
  }
}

//Landing
#type {
  color: $comment;
}

.sub {
  height: 40px;
}

//Content Area
.content {
  //height: 100vh;
  //height: calc(var(--vh, 1vh) * 100);
}

//About
.about {
  width: 100%;
  margin-left: -105%;

  @include for-md-only {
    margin-left: -100%;
  }
}

.email {
  color: $link-color;

  &:hover {
    text-decoration: none;
    color: $link-color;
  }
}

//Skills
.skills {
  margin-right: -105%;
  float: right;

  @include for-md-only {
    margin-right: -100%;
    float: none;
  }
}

//Portfolio
.portfolio {
  margin-left: -105%;
}

//Contact

//Footer
footer {
  height: 15vh;
  height: calc(var(--vh, 1vh) * 15);
  background-color: $comp-color;
  color: $primary-color;

  @include for-md-only {
    height: 10vh;
    height: calc(var(--vh, 1vh) * 10);
  }

  a {
    color: $primary-color;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }

  i {
    padding-top: 1rem;
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
}
