//Animations
.hide {
  h1 {
    background: black;
    overflow: hidden;
  }

  p {
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  span {
    transform: translateY(100%);
    display: inline-block;
    transition: 0.3s ease-in-out;
  }
}

.show {
  span {
    transform: translateY(0%);
  }

  p {
    opacity: 1;
  }
}

