.contact-form {
  ::placeholder {
    color: $comp-color;
  }

  input,
  textarea {
    border: none;
    border-bottom: 1px solid $secondary-color;
    border-radius: 0;
    background-color: $primary-color;
    color: $secondary-color;

    &:focus {
      background-color: $primary-color;
      color: $secondary-color;
      box-shadow: none;
      border-color: $secondary-color;
    }
  }
}
