//Footer
footer {
  height: 15vh;
  height: calc(var(--vh, 1vh) * 15);
  background-color: $comp-color;
  color: $primary-color;

  @include for-md-only {
    height: 10vh;
    height: calc(var(--vh, 1vh) * 10);
  }

  a {
    color: $primary-color;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }

  i {
    padding-top: 1rem;
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
}
