.hamburger {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  content: '';
  position: absolute;
  right: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: $comp-color;
}

.menu-collapsed {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: fixed;
  top: 10px;
  right: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
  ul {
    -webkit-transition: all 0s;
    transition: all 0s;
    position: fixed;
    right: -9000px;
    padding: 0;
    list-style: none;
  }
}

.toggler {
  @extend .hamburger;
  position: fixed;
  right: 12px;
  top: 24px;
  z-index: 100;
  &:before {
    @extend .hamburger;
    top: -8px;
  }
  &:after {
    @extend .hamburger;
    top: 8px;
  }
}

.hamburger-expanded {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: -0px;
}

.menu-expanded {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  text-align: center;
  line-height: 15vh;
  line-height: calc(var(--vh, 1vh) * 15);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  border-radius: 0px;
  top: 0;
  right: 0;
  background-color: rgba(45, 45, 45, 0.9);

  @include respond-above(sm) {
    line-height: 20vh;
    line-height: calc(var(--vh, 1vh) * 20);
  }

  ul {
    -webkit-transition: all 0s;
    transition: all 0s;
    position: relative;
    right: 0;
    z-index: 2;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  li {
    height: 15vh;
    height: calc(var(--vh, 1vh) * 15);

    @include respond-above(sm) {
      height: 20vh;
      height: calc(var(--vh, 1vh) * 20);
    }
  }
  a {
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    text-decoration: none;
    font-size: 2em;
    //padding: 5px;
    color: $comp-color;
    display: block;
    height: 100%;
    margin-right: 10%;
    padding-left: 10%;

    @include respond-above(md) {
      margin: 0;
    }
    //padding: 50px;
    &:hover {
      background-color: rgba($secondary-color, 0.8);
      -webkit-transition: all 0.15s;
      transition: all 0.15s;
      letter-spacing: 2px;
      color: $primary-color;
    }
  }
  .toggler {
    background-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    &:before {
      @extend .hamburger-expanded;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      @extend .hamburger-expanded;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

//Fullpage Nav
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: $comp-color;
}
