//Landing
.landing.active {
  visibility: visible;
  opacity: 1;
}

.landing {
  position: absolute !important;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 1.5s linear;

  #type {
    color: $comment;
  }

  .sub {
    height: 40px;
  }
}

//About
.about.active {
  visibility: visible;
}

.about {
  width: 100%;

  .about-card {
    //transform: translate(-100%);
  }
  .email {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }
}

//Skills
.skills {
  //width: 100%;

  .skills-card {
    transform: translate(100%);
    .card {
      padding-bottom: 1rem;
    }
  }
}

//Portfolio

.portfolio {
  position: absolute;
}

//Contact
.contact.active {
  visibility: visible !important;
  opacity: 1;
}

.contact {
  position: absolute !important;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 1.5s linear;
}
