//Landing
.landing.active {
  visibility: visible;
  opacity: 1;
}

.landing {
  position: absolute !important;
  z-index: 100;
  visibility: hidden;
  opacity: 0;

  transition: 1s linear;

  #type {
    color: $comment;
  }

  .sub {
    height: 40px;
  }
}

//About
.about.active {
  visibility: visible;
  transition: 1s;
  opacity: 1;
}

.about {
  position: absolute !important;
  z-index: 75;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: 1s;

  .about-card {
    //transform: translate(-100%);
  }
  .email {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }
}

//Skills
.skills.active {
  visibility: visible;
  transition: 1s;
  opacity: 1;
}

.skills {
  //position: absolute !important;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  //width: 100%;
  transition: 1s;
  .skills-card {
    transform: translate(100%);
    .card {
      padding-bottom: 1rem;
    }
  }
}

//Portfolio
.portfolio.active {
  visibility: visible;
}

.portfolio {
  visibility: hidden;
  z-index: 25;
}

//Contact
.contact.active {
  visibility: visible !important;
  opacity: 1;
}

.contact {
  position: absolute !important;
  z-index: 100;
  visibility: hidden;
  opacity: 0;

  transition: 1s linear;
}
