//Landing
#type {
  color: $comment;
}

.sub {
  height: 40px;
}

//About
.about {
  width: 100%;
  // To fix off-screen on mobile put this in a for-sm-only mixin
  // margin-left: -10%;
}

.email {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
  }
}

//Skills
.skills {
  .card {
    padding-bottom: 1rem;
  }
}

//Portfolio
.portfolio {
}
