.card {
  border: none;
  background-color: $secondary-color;
  width: 6rem;

  @include respond-above(md) {
    width: 6.5rem;
  }

  i {
    font-size: 2rem;
  }
}

.card-button {
  @include button;

  background-color: $secondary-color;
  color: $primary-color;
}
