//Fonts
@font-face {
  font-family: 'monoid';
  src: url('http://localhost:8080/portfolio-site/css/fonts/monoid-a0-a1-a3-al-ad-aa-webfont.woff2')
      format('woff2'),
    url('http://localhost:8080/portfolio-site/css/fonts/monoid-a0-a1-a3-al-ad-aa-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'monoid';

  a {
    text-decoration: none;
  }
}

$h1-xl: 3rem;
$h2-xl: 2.5rem;
$h3-xl: 1.5rem;
$p-xl: 1.5rem;
$span-xl: 1.7rem;
$i-xl: 3rem;
$button-xl: 0.9rem;

$h1-lg: 0.5rem;
$h2-lg: 2.75rem;

$h1-sm: 1.5rem;
$h2-sm: 1.25rem;
$h3-sm: 0.75rem;
$p-sm: 0.75rem;
$span-sm: 0.85rem;
$i-sm: 1.5rem;
$button-sm: 0.45rem;
