$primary-color: #2d2d2d;
$secondary-color: #f5f5f5;
$comp-color: #4eb89f;

$primary-font-color: #2d2d2d;
$secondary-font-color: #f5f5f5;
$comment: #9f9f9f;
$link-color: #5882bb;
$purple: #a864a8;
$darkpurple: #8560a8;
$orange: #f68e56;
$red: red;
$lightblue: #00bff3;
$yellow: #fff200;
